.login, .register{
    margin: 4em auto;
    padding: 4em 2em;
    max-width: 40em;
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: center;
    text-transform: uppercase;
    border: 3px solid whitesmoke;
    border-radius: 2em;
}
.login div, .register div{
    display: flex;
    flex-direction: column;  
}

.message {
    margin-top: 0.5em;
    text-transform: none;
}
.here {
    color: #3c6e71;  
    text-transform: uppercase;
}
.error{
    padding-top: 0;
    color: darkred;
    text-transform: none;
}


