.aboutUs {
    display: flex;
    margin: 2em 0;
    padding: 2em 0.5em;
    align-items: center;
    border-top: 2px solid #ecf8f8;
    border-bottom: 2px solid #ecf8f8;
}

.media img {
    width: 100%;
    height: auto;
    padding: 0 1.5em;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 2em;
    /* color: #586f6b; */
}


