.home {
    display: flex;
    background-color: #F2E9E4;
    border-bottom: 2px solid #EAFBFF;
    border-top: 2px solid #EAFBFF;

}

.media img {
    display: block;
    width: 100%;
    height: auto;
}

.media {
    padding: 0.5em;
    display: flex;
    flex: 1 0 60%; 
    justify-content: right;
}

.heading {
    background-color: #ca6a688b;
    padding: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.heading h1{
    max-width: 33%;
    font-weight: bold;
    text-align: center;   
    font-weight: 400;
}

.name {
    text-shadow: #e5383b 1px 0 10px;
    font-size: 1.2em;
    color: #feeafa;
}
.name:hover {
    text-shadow: #e5383b 1px 0 30px;
    
}
.button {
    text-align: center;
}

.serviceHome h2 {
    text-align: center;
    margin-top: 2em;
    text-transform: uppercase;
}
.serviceHome {
    padding: 2em 0;
}