.home {
    display: flex;
    justify-content: space-between;
    background-color: rgba(240, 248, 255, 0.423);

}

.media img {
    display: block;
    width: 100%;
    height: auto;
    border: 2px solid #f9b8ba;;
    
}

.media {
    flex: 1 0 50%; 
    align-self: center;
    justify-self: center;
    
}

.heading {
    background-color: #FFA0A3;
    padding: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    border: 2px solid #EAFBFF;
    margin: 8em 6em 8em 0em;
}

.heading h1{
    max-width: 30%;
    font-weight: bold;
    
}
.heading button {
    margin-top: 1.5em;
    text-transform: uppercase;
    color: rgba(95, 94, 94, 0.985);
}
