.services {
    display: flex;
    flex-wrap: wrap;
}

.articleService {
    flex: 1 1 28%;
    text-align: center;
    padding: 1em;
    margin: 1.5em;
    border-radius: 2em;
    background-color: #ecf8f8;
}

.services i {
    color: #3c6e71;
    font-size: 2.3em;
    padding: 0.5em 0;
}

.button {
    text-align: center;
}