.services {
    display: flex;
    flex-direction: column;
}

.articleService {
    flex: 1 1 28%;
    text-align: center;
    padding: 1em;
    margin: 1.5em;
    border-radius: 2em;
    background-color: #ecf8f8;
    display: flex;
    
}
.media {
    flex: 1 0 40%;
}
.media img {
    display: block;
    width: 100%;
    height: auto;
    padding: 1em;
    
}
.info {
    display: flex;
    flex-direction: column;
    flex: 1 0 40%;
    padding: 1em;
}
.services i{
    margin: 0.5em;
    color:  #2d5355;
    font-size: 4em;
    
}
.slicedService {
    display: flex;
    flex-wrap: wrap;
}
.slicedService article {
    flex: 1 1 25%;
    display: flex;
}
.slicedService .media {
    flex: 1 0 50%;
    
}

.slicedService .info {
    flex: 0 2 40%;
   padding: 0;
}
.slicedService i{
    margin: 0.5em;
    color:  #2d5355;
    font-size: 2em;
}
.hidden {
    display: none;
}


