.question {
    margin: 4em auto;
    max-width: 60em;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    border: 3px solid whitesmoke;
    border-radius: 2em;
}
.question h2 {
    margin: 2em 0;
}
.container {
    display: flex;
    gap: 2em;
    /* flex-direction: column; */
}
.container div, .questionArea {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: start;
    text-transform: uppercase;
}
.buttons {
    display: flex;
    gap: 2.5em;
    margin: 1em 0 2em 0;
}
.questionArea label, .addArea label {
    margin: 1em 0;
    text-transform: uppercase;
}
.submitButton {
    margin-left: 3em;
    background-color: darkslategrey;

}
.calendar {
    padding: 0 0 2em 0;
    display: flex;
    gap: 2em;
    justify-self: center;
    align-items: center;
    
}
.calendar input{
    display: block;
    flex: 1 1 45%;
}
.appointmentText {
    padding-top: 3em;
}
.addArea {
    padding-top: 3em;
    display: flex;
    flex-direction: column;
}