.footer {
    background-color: #9A8C98;
    display: flex;
    justify-content: space-between;
}
.footer p {
    padding: 0.5em 1em;
    font-weight: 600;
}
.footer i {
    font-size: 1.2em;
    margin-right: 1em;
}