header { 
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #213d3ea1;
    
}
header div.logo {
    width: 30%;
    height: auto;
}
header img {
    width: 100%;
    height: auto;
}
