.petList {
    margin: 3em 0;
}
.container {
    padding: 2em;
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
}
.petList h2 {
    text-align: center;
}
.animalCard {
    flex: 0 2 30%;
    padding: 1.5em;
    border:  3px solid whitesmoke;
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.media img {
    display: block;
    width: 100%;
    height: 13em;  
}
.error p {
    color: darkred;
}
