.hospital {
    padding: 3em;
}

.media img{
    margin: 0 auto;
    display: block;
    width: 60%;
    height: auto;

}
.hospital h3, .hospital h6 {
    padding-bottom: 1.5em;
    text-align: center;
}
.hospital p {
    padding: 0 5em;
}
.media {
    margin-top: 2em;
}
